* {
    margin: 0;
    border: 'box-border';
}
.nav-bar {
    background-color: #000000;
    height: 80px;
    padding: 10px;
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
/* box 1 (header) */
.title {
    font-family: 'cherolina';
    font-size: 4rem ;
    color: white;
    padding: 10px;
    
}

  
.title a {
    color: inherit;
    text-decoration: none;
} 

.title a:active 
.title a:hover 
.title a:visited {
    text-decoration: none;
    color: inherit;
}
/* box 2 (search bar) */
.nav-search {
    display: flex;
    background-color: #ffdd1b;
    width: 50%;
    height: 50px;
    margin: 15px;
    border-radius: 15px;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.search-item 
{
    font-family: 'trajan pro';
    width: 700px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    border: none;
    display: flex;
    justify-content: center;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 1.2rem;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}



.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid #575353;
}

.nav-login i {
    font-size: 17px;
    color: white;
}
 .nav-login {
    font-size: 1.2rem;
    padding: 15px;
    margin: 10px;
    color: white;
    font-family: 'trajan pro';
 }

.nav-cart i {
    font-size: 17px;
    color: white;
}
 .nav-cart {
    font-size: 1.2rem;
    padding: 15px;
    margin: 10px;
    font-family: 'trajan pro';
    color: white;
 }
.pan:link,
.pan:active,
.pan:visited {
    color:inherit;
    text-decoration: none;

}

.lc-font {

}

.panel {
    display: flex;
    justify-content: center;
    padding: 2px;
    background-color: white;
}

.panel-obj {
    font-size: 1rem;
    font-family: 'trajan pro';
    padding: 15px;
    border-radius: 21px;
    width: auto;
    display: flex;
    justify-content: center;
}
.panel-obj a {
    text-decoration: none;
}
.panel-obj a:active {
    color: inherit;
}
.panel-obj a:visited {
    color: inherit;
}
.panel-obj:hover {
    background-color: #ffdd1b;
    color: black;
    text-shadow: 2px 0px white;
    border: 1px black transparent;
    box-shadow: 2.5px 2.5px 1px black;
}

.bodydiv {
    display: flex;
    margin: 10px;

}
.bodydiv1 {
    width: 100%;
    height: 600px;
    background-color: #ffdd1b;
    border-radius: 30px 0px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

}

.bodydiv1 a:active {
    color: inherit;
}

.bodydiv1{
        width: 100%;
        height: 600px;
        background-color:#ffdd1b;
        border-radius: 30px 0px 0px 30px;
        animation-name: example;
        animation-duration: 30s;
      }
      
      @keyframes example {
        0%   {background-color: #fcd600;}
        20%  {background-color: #fcd600;}
        40%  {background-color: #ffc400;}
        60%  {background-color: #ff9900;}
        80%  {background-color: #ffc400;}
        100% {background-color: #fcd600;}
        
      }
.headtext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    padding: 50px;
    text-align: center;
    justify-content: center;
    text-shadow: 7px 1px 3px white;
    animation-name: name;
    animation-duration: 10s;
}









.bodydiv2 {
    width: 100%;
    height: 600px;
    background-color: #ffdd1b;
    border-radius: 0px 30px 30px 0px;
    display: flex;
    background-image: url('friends.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.headtext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    padding: 50px;
    text-align: center;
    justify-content: center;
    text-shadow: 7px 1px 3px white;
}


.image {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: right;
    background-image: url('friends.jpg');
    background-repeat: no-repeat;
    border-radius: 20px 0px 0px 20px;
}

.img-title {
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 70px;
    font-size: 80px;
    text-shadow: 1px 2px white;
    justify-content: right;
    font-family: 'cherolina';
}

.nav-body {
    justify-content: space-evenly;
}
.nav-item {
    display: flex;
    margin: 10px;
    padding: 20px;
    justify-content: space-evenly;
    width: 100%;
    height: 600px;
}
.item {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    box-shadow: 18px 0px 12px grey;
    border-radius: 6px;
    justify-content: space-evenly;
    display: block;

}

.item-caption {
    font-family: 'trajan pro';
    font-size: 0.6rem;
    color: black;
    text-align: center;
    padding: 16px;
}
.item-caption a:active {
    color: inherit;
}
.item-caption a:hover {
    color: #ffdd1b;
    text-shadow: 1px 1px rgb(165, 160, 160);
}


.addtocart {
    width: 90%;
    height: 70px;
    background-color: #ffdd1b;
    justify-content: space-evenly;
    color: black;
    font-family: 'trajan pro';
    font-weight: bold;
    text-align: center;
    border: 1px black solid;
    font-size: 0.9rem;
}


.font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 10px;
}

.select {
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 40px;
}

.arrow {
    width: 100%;
    height: 40px;
    font-family: 'trajan pro';

}

.nav-item2 {
    width: 100%;
    height: 450px;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
}
 


.about {
    background-color: black;
    font-family: 'trajan pro';
    font-size: 1rem;
    margin: 20px;
}
.about-font {
    font-size: 1.5rem;
    font-family: 'trajan pro';
    text-align: center;
    color: white;
    padding: 16px;
    justify-content: center;
    font-weight: bold;
}
.about-info {
    font-size: 1rem;
    font-family: 'trajan pro';
    text-align: center;
    background-color: white;
    padding: 20px;
    height: auto;
}

.contact {

    margin: 20px;
    display: flex;
    justify-content: center;
    justify-content:center;
    width: 100%;
}
.contact-me {
    
    background-color: black;
    padding: 16px;
    justify-content: center;
    font-weight: bold;
}
.contact-panel {
    font-size: 1.8rem;
    padding: 15px;
    margin: 10px;
    font-family: 'trajan pro';
}
.contact-panel a:active
.contact-panel a:visited
.contact-panel a:hover {
    color: inherit;
}

.nav-body {
    margin: 0px;
    padding: 8px;
    display: block;
    justify-content: center;
    background-color: white;
}
.def {
    font-size: 1.5rem;
    font-family: 'trajan pro';
    text-align: center;
    color: white;
}


.nav-login a:active,
.nav-login a:focus,
.nav-login a:visited,
.nav-login a:hover {
    color: inherit;
    text-decoration: none;
    outline: none; 
}

.zoom-effect {
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.zoom-effect:hover {
    transform: scale(1.1);
}

/* Additional styling for demonstration */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.paint-div {
    display: flex;
    margin: 0px;
    padding: 0px;
    height: auto;

}
.cd-div {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    background-color: white;
    height: auto;

}

.font3 {
    font-family: 'trajan pro';
    font-size: 2rem;
    font-weight: bold;
    color: black;
    padding: 5px;
} 

.canvas {
    background-color: white;
    text-align: center;

}

.body-div2 {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 100px 50px 100px 50px;
    display: flex;
    background-color: #fcd600;
}
.log {
    max-width: 500px; 
    display: block;
    margin: 0 auto; 
    padding: 20px 30px 10px 30px;
    background-color: #fafaf8;
    border: 1px solid #000000;
}

.log-font {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'trajan pro';
}

.input {
    width: 100%; 
    padding: 15px 10px; 
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'trajan pro';
}

.log-bar {
    width: 100%; 
    padding: 10px;
}

.log-button {
    width: 100%;
    font-family: 'trajan pro';
    padding: 15px;
    border: none; 
    cursor: pointer;
}
.input1 {
    height: 300px;
    width: 350px;
    padding: 35px 0px 0px 0px;
    font-weight: bold;
    font-family: 'trajan pro';
    display: block;
}
.input2 {
    height: 100px;
    width: 250px;
    padding: 35px 0px 0px;
    text-align: center;
    font-size: 1.2rem;
    background-color: #ffdd1b;
}
.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

#cart {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 20px;
}

.custom-button {
    width: 100px;
    height: 100px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.remove-button {
    cursor: pointer;
    color: red;
}

/* Style for the dropdown cart */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;

    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
    width:auto;
    font-size: 1rem;
    color: black;
}
.dropdown:link,
.dropdown:active,
.dropdown:visited {
    color: inherit;
    text-decoration: none;
}
.log-b {
    background-color: yellow;
    max-width: 450px;
    height: 100px;
}